* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 改变盒子模型，不在添加边框和填充 */
}
body {
  font-family: 'Courier New', Courier, monospace; /* 设置字体,会被body里面的元素都继承 */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 96vh; /* 100vh是整个屏幕的高度，96vh是屏幕高度的96% */
  background-image: linear-gradient(to right bottom, #7ed56fb1, #55c67bb5),
    /* 设置渐变色 */
      url(https://images.freeimages.com/images/large-previews/a4c/girl-under-tree-1306574.jpg);
  background-size: cover; /* 背景图片的大小，cover是填充整个屏幕 */
  background-position: top; /* 背景图片的位置，top是顶部,当浏览器视口大小发生变化时，背景不会裁剪的位置 */
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75%,
    0 100%
  ); /* 裁剪图片，polygon()是裁剪图片的形状 ,里面的参数是各个角的坐标*/
  position: relative; /* 设置相对定位，这样子元素才能设置绝对定位 */
}

.logo-box {
  position: absolute; /* 绝对定位，相对于最近的父元素定位,一定要开启父相子绝 */
  top: 40px;
  left: 40px;
  transform: translate(-50%, -50%); /* 使logo-box居中 */
  text-align: center;
}

.logo {
  height: 35px; /* 设置logo的高度，浏览器会自动计算其宽度 */
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%; /* 使text-box居中是相对左顶点 */
  transform: translate(-50%, -50%); /* 使text-box居中是相对左顶点 */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase; /* 设置字母大写 */
  margin-bottom: 20px;
}
.primary-main {
  display: block; /* 设置为块级元素,是为了能够让其能够让其暂用可用的 */
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px; /* 设置字母间距 */
  animation-name: moveInLeft; /* 设置应用动画名 */
  animation-duration: 1s; /* 设置动画持续时间 */
  animation-timing-function: ease-out; /* 设置动画的速度曲线 */
  /* 
  animation-delay: 1s; 设置动画延迟时间 
  animation-iteration-count: 3; 设置动画重复次数
  */
}
.primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 15px;
  animation-name: moveInRight; /* 设置应用动画名 */
  animation-duration: 1s; /* 设置动画持续时间 */
  animation-timing-function: ease-out; /* 设置动画的速度曲线 */
}

@keyframes moveInLeft {
  0% {
    opacity: 0; /* 透明度为0 */
    transform: translateX(-100px); /* 从左边-100px移动到现在位置*/
  }

  /*
  50% {
    transform: translateX(10px);
    transform: rotate(); 旋转
    transform: skew(); 倾斜
    transform: scale(); 缩放
  }
  */

  80% {
    transform: translateX(20px); /* 从现在位置移动到右边10px */
  }

  100% {
    opacity: 1; /* 透明度为1 */
    transform: translateX(0); /* 从左边0px移动到现在位置*/
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {
  /*:link 伪类选择器*/
  text-transform: uppercase;
  text-decoration: none; /*去掉下划线*/
  padding: 15px 30px;
  display: inline-block; /*设置为行内块元素*/
  border-radius: 100px;
  transition: all 0.2s; /*都使用过渡效果*/
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /*x偏移量 y偏移量 模糊值*/
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /*x偏移量 y偏移量 模糊值*/
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}
/**/
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s; /*动画名 动画持续时间 动画速度曲线 动画延迟时间*/
  animation-fill-mode: backwards; /*设置动画在开始之前就应用*/
}
