$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-black: #000;
$color-white: #fff;

$color-green-dark: #28b485;
$color-green-light: #7ed56f;

$color-orange-dark: #ff9f1c;
$color-orange-light: #ffbf69;

$color-tomat-dark: #ff6b6b;
$color-tomat-light: #ff6b1a;

//FONT
$default-font-size: 1.6rem;

//Grid settings
$grid-width: 114rem; /* 最大宽度 */
$gutter-vertical: 8rem; /* 上下边距 */
$gutter-horizontal: 6rem; /* 左右边距 */
