.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  margin-top: -20rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.45),
      rgba($color-primary-dark, 0.45)
    ),
    /* 设置渐变色 */ url(../../img/3.jpg);
  background-size: cover; /* 背景图片的大小，cover是填充整个屏幕 */
  background-position: top; /* 背景图片的位置，top是顶部,当浏览器视口大小发生变化时，背景不会裁剪的位置 */
  transform: skewY(-7deg); /* 倾斜-7度 */

  & > * {
    transform: skewY(7deg); /* 倾斜7度 */
  } /* 为了让section-features的子元素不被倾斜，所以要倾斜回来 */
}

.sections-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0; /* 上右下左边距 */
  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}
